*{
	box-sizing: border-box;
}
.navbar-brand{
	height: 70px;
}
.navbar-brand h1{
	margin-top: 0px;
}
.reallytall{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 25px;
}
.menu-content{
	background-color: gray;
	padding: 15px;
}
#content-row{
	padding-left: 15px;
	padding-right: 15px;
}
#menu > ul > li > a{
	color: black;
}
#menu > ul > li > a:hover{
	color: gray;
}
p, h3 {
	color: black;
}


/* Extra small screens */
@media (max-width: 767px){
/* Dropdown Nav Menu */
#menu {
	background-color: red;
}
}

/* Medium screens or larger */
@media (min-width: 991px){
	.menu-content{
		min-height:700px;
	}
}
